@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
   
#Niconne {
   font-family: 'Niconne', cursive;
   font-size: 25px;
}

#NiconneLarge {
   font-family: 'Niconne', cursive;
   font-size: 50px;
}

.bgimg
{
   background-image: url("images/mainBg.jpg");
   background-size: 100%;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.2)

}

.stonebtn1
{

   background-image: url("images/StoneButton1.jpg");
   background-repeat: no-repeat;
   color: white;
   border-color: black;
}

.stonebtn2
{
   background-image: url("images/StoneButton2.jpg");
   background-repeat: no-repeat;
   color: white;
   border-color: black;
}

.stonebtn3
{
   background-image: url("images/StoneButton3.jpg");
   background-repeat: no-repeat;
   color: white;
   border-color: black;

}

.woodBorder
{
   border: 15px solid transparent;
   border-image: url(images/woodborder1.jpg) 40 round;
}


.stonebg
{
   background-image: url("images/lightStone.jpg");
}

.carouselStyle {
   width: 50;
   max-height: 580px;
}
